NODE_ENV=development
PORT=4100

CORS_ORIGINS=http://localhost:3100

LOG_LEVEL=debug

PRICES_REFRESH_MINUTES=5

CATALOG_REFRESH_HOURS=24

SALES_REFRESH_HOURS=3
FLOAT_REFRESH_HOURS=2

DMARKET_REQUESTS_PER_SECOND=10

CACHE_DIR=.cache

WHITE_MARKET_PARTNER_TOKEN=

DMARKET_PUBLIC_KEY=
DMARKET_SECRET_KEY=

CSFLOAT_API_KEY=
